export MONGODB_URI=mongodb://localhost:27018/
export MONGODB_DB_NAME=banking-service
export MONGODB_COLLECTION_NAME=accounts
export PORT=:8080
export JWT_SECRET=banking-service
export KAFKA_BROKER=localhost:9092
export CREATE_ACCOUNT_TOPIC=account_events
export GIN_MODE=release