export MONGODB_URI=mongodb://mongo:27017/
export MONGODB_DB_NAME=account-service
export PORT=:8080
export JWT_SECRET=banking-service
export JWT_EXPIRES_IN=1d
export JWT_COOKIE_EXPIRES_IN=1d
export JWT_COOKIE_NAME=jwt
export JWT_COOKIE_SECURE=false
export JWT_COOKIE_HTTP_ONLY=true
export KAFKA_BROKER=0.0.0.0:9092
export CREATE_ACCOUNT_TOPIC=account_events
export ACCOUNT_GROUP=account-service
export ACCOUNT_TOPIC_CONCURRENCY=1
export ACCOUNT_TOPIC_AUTO_OFFSET_RESET=earliest
export ACCOUNT_TOPIC_ENABLE_AUTO_COMMIT=true
export ACCOUNT_TOPIC_AUTO_COMMIT_INTERVAL_MS=1000